# Custody keys
export LOBBY_TEST_KEYS="test_keys.json"

# Database
export SQLX_OFFLINE=true
export DATABASE_URL="postgresql://lobby:lobby_dev_password@localhost:5432/lobby-db"

# Redis connection (local development)
export REDIS_URL="redis://localhost:6379"

# Server
export SERVER_ADDR="0.0.0.0:3000"

# Logging
export RUST_LOG="INFO"

# RPC endpoints eg:- for HoodiTestnet
export RPC_ENDPOINT_560048="https://eth-hoodi.g.alchemy.com/v2/<Your-API-KEY-1>,https://hoodi.infura.io/v3/<Your-API-KEY-2>"

# API Key format:
# LOBBY_API_KEY_<N>=<api_token>:<client_id>:<from_address>
